.message-fail {
  background: $ucla-pink;
  color: $black;
  border-radius: $global-border-radius;
  padding: $half-spacing;
}

.message-success {
  background: $ucla-green;
  color: $black;
  border-radius: $global-border-radius;
  padding: $half-spacing;
}