.message-fail {
  background: repeating-linear-gradient(45deg, $error-color-dark, $error-color-dark $half-spacing, $error-color-dark-alt $half-spacing, $error-color-dark-alt $default-spacing);
  color: $error-color;
  border-radius: $global-border-radius;
  padding: $half-spacing;
}

.message-success {
  background: $black;
  color: $success-color;
  border-radius: $global-border-radius;
  padding: $half-spacing;
}
